body, html {
    margin: 0;
    height: 100%;
    font-family: "Inconsolata", sans-serif;
}

.bgimg {
    background-position: center;
    background-size: cover;
    background-image: url("../img/evanshoes_bg.png");
    min-height: 75%;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2E2E2E;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #E8E8E8; color: #2E2E2E;}

ul.topnav li a.active {background-color: #E8E8E8; color: #2E2E2E;}


* {
  box-sizing: border-box;
}


/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}


/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}